.brd {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    /* margin: 0 auto;           */
}

    .brd td {
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: gray;
    }
    .brd th {
        background-color: gray;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: gray;
    }
.main {
    background-color: aqua;
    width: 30%;
    padding: 10px;
}
.files {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 10px 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}